# CHAPTER 2 (VARIABLE,EXPRESSION,AND STATEMENTS)

# CONSTANTS

In [2]:
print(12)

12

In [3]:
print(98.6)

98.6

In [4]:
print("hello world")

hello world

# VARIABLES

In [1]:
x1q3z9ocd = 35.0 
x1q3z9afd = 12.50
x1q3p9afd = x1q3z9ocd * x1q3z9afd
print(x1q3p9afd)

437.5

In [8]:
hours = 35.0 
rate = 12.50 
pay = hours * rate 
print(pay)

437.5

In [9]:
a = 35.0 
b = 12.50 
c = a * b 
print(c)

437.5

# ASSIGNMENT STATEMENTS(NUMERIC EXPRESSIONS ,ORDER)

In [13]:
x = 1 + 2 ** 3 / 4 * 5
 print(x)

11.0

In [11]:
yy = 440 * 12
 print(yy)

5280

In [10]:
xx = 2
 xx = xx + 2
 print(xx)

4

In [12]:
jj = 23
 kk = jj % 5
 print(kk)

3

In [15]:
ddd = 1 + 4
>>> print(ddd)

5

# TYPE CONVERSIONS

In [16]:
 eee = 'hello ' + 'there'
>>> print(eee)

hello there

# INTEGER DIVISIONS

In [18]:
print(float(99) + 100)

199.0

In [28]:
print(99 / 100)

0.99

In [29]:
print(99.0 / 100.0)

0.99

# STRING CONVERSIONS

In [31]:
nam = input('Who are you? ')
print('Welcome', nam)

Who are you?  Chuck

Welcome Chuck

In [32]:
inp = input('Europe floor?')
usf = int(inp) + 1
print('US floor', usf)

Europe floor? 0

US floor 1

# CHAPTER 3(CONDITIONAL EXECUTION)

# CONDITIONAL STEPS

In [36]:

x = 5
if x < 10:
    print('Smaller')
if x > 20:
    print('Bigger')
print('Finis')

Smaller
Finis

# COMPARISON OPERATORS ,CONDITIONAL OPERATIONS

In [39]:
x = 5
if x == 5 :
    print('Equals 5')
if x > 4 :
    print('Greater than 4')
if x >= 5 :
    print('Greater than or Equals 5')
if x < 6 : 
    print('Less than 6')
if x <= 5 :
    print('Less than or Equals 5')
if x != 6 :
    print('Not equal')

Equals 5
Greater than 4
Greater than or Equals 5
Less than 6
Less than or Equals 5
Not equal

# ONE WAY DECISIONS

In [41]:
x = 5
print('Before 5')
if x == 5 :
    print('Is 5')
    print('Is Still 5')
    print('Third 5')
print('Afterwards 5')
print('Before 6')
if x == 6 :
    print('Is 6')
    print('Is Still 6')
    print('Third 6')
print('Afterwards 6')

Before 5
Is 5
Is Still 5
Third 5
Afterwards 5
Before 6
Afterwards 6

# NESTED DECISIONS

In [43]:

x = 42
if x > 1 :
    print('More than one')
if x < 100 :
    print('Less than 100')
print('All done')

More than one
Less than 100
All done

# TWO WAY DECISIONS WITH ELSE

In [44]:
x = 4
if x > 2 :
    print('Bigger')
else :
    print('Smaller')
print('All done')

Bigger
All done

# VISUALIZE BLOCKS

In [45]:
x = 4
if x > 2 :
      print('Bigger')
else :
      print('Smaller')
print('All done')

Bigger
All done

# CONDITIONAL STRUCTURES (MULTIWAY)

In [46]:
if x < 2 :
      print('small')
elif x < 10 :
      print('Medium')
else :
      print('LARGE')
print('All done')

Medium
All done

In [47]:
x = 0
if x < 2 :
     print('small')
elif x < 10 :
     print('Medium')
else :
     print('LARGE')
print('All done')

small
All done

In [48]:
x = 5
if x < 2 :
     print('small')
elif x < 10 :
     print('Medium')
else :
     print('LARGE')
print('All done')

Medium
All done

In [49]:
# No Else
x = 5
if x < 2 :
     print('Small')
elif x < 10 :
     print('Medium')
print('All done')

Medium
All done

# MULTIWAY PUZZLES

In [50]:
if x < 2 :
    print('Below 2')
elif x >= 2 :
    print('Two or more')
else :
    print('Something else')

Two or more

In [51]:
if x < 2 :
    print('Below 2')
elif x < 20 :
    print('Below 20')
elif x < 10 :
    print('Below 10')
else :
    print('Something else')

Below 20

# THE TRY/ EXCEPT STRUCTURE

In [57]:
astr = 'Hello Bob'
try:
     istr = int(astr)
except:
     istr = -1
print('First', istr)
astr = '123'
try:
     istr = int(astr)
except:
     istr = -1
print('Second', istr)

First -1
Second 123

In [58]:
astr = 'Bob'
try:
   print('Hello')
   istr = int(astr)
   print('There')
except:
   istr = -1
print('Done', istr)

Hello
Done -1

# CHAPTER 4 (FUNCTIONS)

# STORED (AND REUSED ) STEPS

In [62]:
def thing():
      print('Hello')
      print('Fun')
thing()
print('Zip')
thing()

Hello
Fun
Zip
Hello
Fun

# Python function(function definition)

MAX FUNCYION

In [63]:
big = max('Hello world')
print(big)

w

# BUILDING OUR OWN FUNCTION

In [74]:
x = 5
print('Hello')
def print_lyrics():
        print("I'm a lumberjack, and I'm okay.")
        print('I sleep all night and I work all day.')
print('Yo')
x = x + 2
print(x)

Hello
Yo
7

# DEFINITIONS AND USES

In [75]:
x = 5
print('Hello')
def print_lyrics():
     print("I'm a lumberjack, and I'm okay.")
     print('I sleep all night and I work all day.')
print('Yo')
print_lyrics()
x = x + 2
print(x)

Hello
Yo
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
7

# ARGUMENTS

In [77]:
big = max('Hello world')

# PARAMETERS

In [90]:
def greet(lang):
    if lang == 'es':
         print('Hola')
    elif lang == 'fr':
       print('Bonjour')
    else:
       print('Hello')

greet ('en')


greet('fr')
greet('en')

Hello
Bonjour
Hello

# RETURN VALUES

In [92]:
def greet():
     return "Hello"
print(greet(), "Glenn")
print(greet(), "Sally")

Hello Glenn
Hello Sally

In [107]:
def greet(lang):
    if lang == 'es':
        return 'Hola'
    elif lang == 'fr':
        return 'Bonjour'
    else:
        return 'Hello'
print(greet('en'),'Glenn')
print(greet('es'),'Sally')
print(greet('fr'),'Michael')

Hello Glenn
Hola Sally
Bonjour Michael

# ARGUMENTS, PARAMETERS AND RESULTS

In [111]:
big = max('Hello world')
print(big)

w

# MULTIPLE PARAMETERS / ARGUMENTS

In [108]:
def addtwo(a, b):
    added = a + b
    return added
x = addtwo(3, 5)
print(x)

8

# CHAPTER 5 (LOOPS & ITERATIONS)

# REPEATED STEPS

In [128]:
n = 5
while n > 0 :
   print(n)
   n = n - 1
print('Blastoff!')
print(n)

5
4
3
2
1
Blastoff!
0

 AN INFINITE LOOP

In [129]:
n = 0
while n > 0 :
    print('Lather')
    print('Rinse')
print('Dry off!')

Dry off!

# BREAKING OUT OF A LOOP (BREAK)

In [141]:
while True:
    line = input('> ')
    if line == 'done' :
      break
    print(line)
print('Done!')

>  hello there

hello there

>  finished

finished

>  done

Done!

In [143]:
while True:
    line = input('> ')
    if line == 'done' :
      break
    print(line)
print('Done!')

>  NO

NO

>  done

Done!

# CONTINUE

In [144]:
while True:
   line = input('> ')
   if line[0] == '#' :
     continue
   if line == 'done' :
     break
   print(line)
print('Done!')

>  hello there

hello there

>  # dont print this
>  print this

print this

>  done

Done!

# INDEFINITE LOOP
# DEFINITE LOOP
# A SIMPLE DEFINITE LOOP

In [145]:
for i in [5, 4, 3, 2, 1] :
    print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

DEFINITE LOOP WITH STRINGS

In [146]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
       print('Happy New Year:', friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [148]:
# LOOP THROUGH A SET

In [147]:
print('Before')
for thing in [9, 41, 12, 3, 74, 15] :
     print(thing)
print('After')

Before
9
41
12
3
74
15
After

# FINGING THE LARGEST VALUE

In [149]:
largest_so_far = -1
print('Before', largest_so_far)
for the_num in [9, 41, 12, 3, 74, 15] :
   if the_num > largest_so_far :
    largest_so_far = the_num
   print(largest_so_far, the_num)
print('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

# COUNTING IN A LOOP

In [150]:
zork = 0
print('Before', zork)
for thing in [9, 41, 12, 3, 74, 15] :
     zork = zork + 1
     print(zork, thing)
print('After', zork)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

# SUMMING IN A LOOP

In [151]:
zork = 0
print('Before', zork)
for thing in [9, 41, 12, 3, 74, 15] :
    zork = zork + thing
    print(zork, thing)
print('After', zork)

Before 0
9 9
50 41
62 12
65 3
139 74
154 15
After 154

# FINDING THE AVERAGE IN A LOOP

In [152]:
count = 0
sum = 0
print('Before', count, sum)
for value in [9, 41, 12, 3, 74, 15] :
    count = count + 1
    sum = sum + value
    print(count, sum, value)
print('After', count, sum, sum / count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

# FILTERING IN A LOOP

In [153]:
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
   if value > 20:
    print('Large number',value)
print('After')

Before
Large number 41
Large number 74
After

# SEARCH USING A BOOLEAN VARIABLE

In [154]:
found = False
print('Before', found)
for value in [9, 41, 12, 3, 74, 15] :
    if value == 3 :
     found = True
    print(found, value)
print('After', found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

# FINDING THE SMALLEST VALUE

In [155]:
smallest_so_far = -1
print('Before', smallest_so_far)
for the_num in [9, 41, 12, 3, 74, 15] :
     if the_num < smallest_so_far :
       smallest_so_far = the_num
     print(smallest_so_far, the_num)
print('After', smallest_so_far)

Before -1
-1 9
-1 41
-1 12
-1 3
-1 74
-1 15
After -1

In [157]:
smallest = None
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if smallest is None :
      smallest = value
    elif value < smallest :
      smallest = value
    print(smallest, value)
print('After', smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3

# IS AND IS NOT OPERATORS

In [159]:
smallest = None
print('Before')
for value in [3, 41, 12, 9, 74, 15] :
     if smallest is None :
       smallest = value
     elif value < smallest :
       smallest = value
     print(smallest, value)
print('After', smallest)

Before
3 3
3 41
3 12
3 9
3 74
3 15
After 3

# CHAPTER 6 ( STRINGS)

# STRING DATATYPE

In [165]:
str1 = "Hello"
str2 = 'there'
bob = str1 + str2
print(bob)
str3 = '123'
str3 = str3 + 1
x = int(str3) + 1
print(x)

Hellothere

TypeError: can only concatenate str (not "int") to str

In [166]:
x = int(str3) + 1
print(x)

124

# READING AND CONVERTING

In [188]:
name = input('Enter:')
print(name)
apple = input('Enter:')
x = int(apple) - 10
print(x)

Enter: Chuck

Chuck

Enter: 100

90

# LOOKING INSIDE STRINGS

In [190]:
fruit = 'banana'
letter = fruit[1]
print(letter)

a

In [191]:
x = 3
w = fruit[x - 1]
print(w)

n

# LENGTH OF A  ( len FUNCTION)

In [192]:
fruit = 'banana'
print(len(fruit))

6

In [193]:
fruit = 'banana'
x = len(fruit)
print(x)

6

# LOOPING THROUGH STRING

In [194]:
fruit = 'banana'
index = 0
while index < len(fruit):
     letter = fruit[index]
     print(index, letter)
     index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [195]:
fruit = 'banana'
for letter in fruit:
    print(letter)

b
a
n
a
n
a

# LOOPING AND COUNTING

In [196]:
word = 'banana'
count = 0
for letter in word :
   if letter == 'a' :
      count = count + 1
print(count)

3

# LOOKING DEEP INTO IT

In [198]:
for letter in 'banana' :
   print(letter)

b
a
n
a
n
a

# SLICING OF A STRING

In [204]:
s = 'Monty Python'
print(s[0:4])
print(s[6:7])
print(s[6:20])

Mont
P
Python

In [207]:
s = 'Monty Python'
print(s[:2])
print(s[8:])
print(s[:])

Mo
thon
Monty Python

# STRING CONCATENATION

In [210]:
a = 'Hello'
b = a + 'There'
print(b)

HelloThere

In [211]:
c = a + ' ' + 'There'
print(c)

Hello There

# USING in AS A LOGICAL OPERATOR

In [216]:
fruit = 'banana'
'n' in fruit
'm' in fruit
'nan' in fruit
if 'a' in fruit :
   print('Found it!')

Found it!

# STRING COMPARISON

In [217]:
if word == 'banana':
      print('All right, bananas.')
if word < 'banana':
      print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
      print('Your word,' + word + ', comes after banana.')
else:
      print('All right, bananas.')

All right, bananas.
All right, bananas.

# STRING LIBRARY
# SEARCHING A STRING

In [225]:
fruit = 'banana'
>>> pos = fruit.find('na')
>>> print(pos)

2

In [226]:
aa = fruit.find('z')
print(aa)

-1

# MAKE EVERYTHING UPPERCASE

In [227]:
greet = 'Hello Bob'
nnn = greet.upper()
print(nnn)

HELLO BOB

# MAKE EVERYTHING LOWERCASE

In [228]:
www = greet.lower()
print(www)

hello bob

# SEARCH AND REPLACE

In [230]:
greet = 'Hello Bob'
nstr = greet.replace('Bob','Jane')
print(nstr)
nstr = greet.replace('o','X')
print(nstr)

Hello Jane
HellX BXb

# STRIPPING WHITESPACE

In [235]:
greet = ' Hello Bob '
greet.lstrip()

'Hello Bob '

In [236]:
greet = ' Hello Bob '
>>> greet.rstrip()

' Hello Bob'

In [237]:
greet = ' Hello Bob '
greet.strip()

'Hello Bob'

# PREFIXES

In [238]:
line = 'Please have a nice day'
line.startswith('Please')

True

In [239]:
line.startswith('p')

False

In [240]:
data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
atpos = data.find('@')
print(atpos)

21

In [241]:
sppos = data.find(' ',atpos)
>>> print(sppos)

31